{% extends 'women/base.html'%}
{% load women_tags%}


{% block content %}
<h1>{{title}}</h1>

{% for contact in page_obj %}
<p>{{ contact }}</p>
{% endfor %}

<!--<nav> делал для примера основная пагинаци в шаблоне base.html-->
<!--    <ul>-->
<!--         &lt;!&ndash; Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу &ndash;&gt;-->
<!--        {% for p in page_obj.paginator.page_range %}-->
<!--        <li>-->
<!--            <a href="?page={{p}}">{{p}}</a>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</nav>-->

{% endblock  %}