{% load static %}
<!--{% load women_tags%} видео  15 убрал-->
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
				<!--{% list_menu %} Добавил новый включающиеся тег поэтому цыкл можно убрать -->
<!--вернул цыкл из за видео 15-->
{% for m in menu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
			{% if request.user.is_authenticated %}
				<li class="last"> Добрый день {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
			{% else %}
			<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
			{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
<!--		{% getcat as categories %} добавили включающий тег видео 11-->

	<ul id="leftchapters">
{% if cat_selected == 0 %} <!--Если cat_selected==0 то Слова Все котегрии будут отображены как текст,
 а если нет то буде указана как ссылка на дом. страницу-->
		<li class="selected">Все категории</li>
{% else %}
		<li><a href="{% url 'home' %}">Все категории</a></li>
{% endif %}

<!--Удалил  из  шаблона теги  base.html  строки 48/-49 из за видео 21, строки из 11 видео и не только -->

<!--		Удалил из-за тега вкючения видео 11-->
<!--		Вернул из-за  видео 15-->
{% for c in cats %} <!--Видео 11 заменил cats на свой тег все каетгории отображаем как ссылки и через их перебор
Вернул cats убрал categories видео 15 -->
{% if c.women__count > 0 %} <!-- видео 17-->
	{% if c.pk == cat_selected %} <!-- если pk категории == cat_selected то отображение в виде текста,
	если нет, то в виде сслыки на категорию-->
		<li class="selected">{{c.name}}</li>
	{% else %}
		<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
	{% endif %}
{% endif %}
{% endfor %}
<li class="share">
		<p>Наш канал</p>
		<a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}


<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock content%}

<!-- Начало блока пагинации-->
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
<!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
{% if page_obj.has_previous %}
<a href="?page=1">"First"</a>
<a href="?page={{page_obj.previous_page_number}}"><<<</a>
{% endif %}

		 <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
		{% for p in paginator.page_range %}
		{% if page_obj.number == p %}
        <a class="page-num page-num-selected">{{ p }}</a>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <a class="page-num" href="?page={{ p }}">{{ p }}</a>
		{% endif %}
        {% endfor %}

<!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">>>></a>
<a href="?page={{ page_obj.paginator.num_pages }}">"Last"</a>
{% endif %}
	</ul>
</nav>
{% endif %}
	</div>
<!-- D7.2 конец блока пагинации-->

<!-- Конец блока контента -->


</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>